* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 5px solid #ccc;
  }
  
  .nav-left {
    display: flex;
    align-items: center;
  }
  
  .nav-left-logo {
    margin-right: 20px;
  }
  .nav-left-logo img{
    width: 60px;
  }
  
  .nav-right {
    display: flex;
    justify-content: space-between;
  }
  
  .nav-right a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
  }
  
  
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ccc;
    background-image: url(Nike-Header-min.jpg);
    background-position: center;
    background-size: cover;
  }
  
  .banner h1{
   color: white;
   font-weight: 700;
   font-size: 32px;
   
  }
  
  .banner button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer; 
    margin-top: 500px;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .cart img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .describe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .describe p {
    margin-bottom: 10px;
  }
  
  .describe button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }

  
  footer {
    display: flex;
    padding: 20px;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
  }
  
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
  }
  
  .right {
    display: flex;
    width: 55%;
  }
  
  .left h1 {
    margin-bottom: 10px;
  }
  
  .left p {
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .left button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    float: right;
  }
  .col{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .col a{
    color: #333;
    text-decoration: none;
    padding: 10px;
    font-size: 23px;
  }
  .col h3{
    font-size: 28px;
  }